aiofiles==24.1.0
amqp==5.3.1
annotated-types==0.7.0
anyio==4.8.0
async-property==0.2.2
async-timeout==5.0.1
asyncpg==0.30.0
attrs==25.1.0
billiard==4.2.1
celery==5.4.0
Cerberus==1.3.7
certifi==2025.1.31
cffi==1.17.1
charset-normalizer==3.4.1
click==8.1.8
click-didyoumean==0.3.1
click-plugins==1.1.1
click-repl==0.3.0
colorama==0.4.6
contourpy==1.3.1
cryptography==44.0.2
cycler==0.12.1
deprecation==2.1.0
dotenv-python==0.0.1
easyocr==1.7.2
ecdsa==0.19.0
environ-config==24.1.0
exceptiongroup==1.2.2
fastapi==0.115.8
filelock==3.17.0
fonttools==4.56.0
fsspec==2025.2.0
greenlet==3.1.1
h11==0.14.0
httpcore==1.0.7
httpx==0.28.1
idna==3.10
imageio==2.37.0
influxdb==5.3.2
iniconfig==2.0.0
Jinja2==3.1.5
joblib==1.4.2
jose==1.0.0
jwcrypto==1.5.6
kiwisolver==1.4.8
kombu==5.4.2
lazy_loader==0.4
MarkupSafe==3.0.2
matplotlib==3.10.0
mpmath==1.3.0
msgpack==1.1.0
networkx==3.4.2
ninja==1.11.1.3
numpy==1.26.4
opencv-python==4.11.0.86
opencv-python-headless==4.11.0.86
packaging==24.2
pandas==2.0.3
pillow==11.1.0
pluggy==1.5.0
prompt_toolkit==3.0.50
psutil==7.0.0
py-cpuinfo==9.0.0
pyasn1==0.4.8
pyclipper==1.3.0.post6
pycparser==2.22
pydantic==2.10.6
pydantic_core==2.27.2
pyparsing==3.2.1
pyserial==3.5
pytest==8.3.5
pytest-asyncio==0.25.3
pytest-runner==6.0.1
python-bidi==0.6.6
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
python-jose==3.4.0
python-keycloak==5.3.1
python-multipart==0.0.20
pytz==2025.1
PyYAML==6.0.2
redis==5.2.1
requests==2.32.3
requests-toolbelt==1.0.0
retrying==1.3.4
rsa==4.9
scikit-image==0.25.2
scikit-learn==1.6.1
scipy==1.15.2
seaborn==0.13.2
shapely==2.0.7
six==1.17.0
sniffio==1.3.1
SQLAlchemy==2.0.38
starlette==0.45.3
sympy==1.13.1
threadpoolctl==3.5.0
tifffile==2025.2.18
torch==2.6.0
torchvision==0.21.0
tqdm==4.67.1
typing_extensions==4.12.2
tzdata==2025.1
ultralytics==8.3.80
ultralytics-thop==2.0.14
urllib3==2.3.0
uvicorn==0.34.0
vine==5.1.0
wcwidth==0.2.13
flower==2.0.1
textdistance==4.6.3